table{
       border:1px ;
       width: 100%;
     font-family: Arial;
     font-size: medium;
}
td{
  width:10%;
}
#coll1{
    width:15px;
    height: 15px;
    padding: 8px;
}
#coll2{
       width:15% ;
    align-items: center;
}
#coll3{
  display: flex;
  align-items: center;
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  
}
#in{
  flex: 1;
  border: none;
  background: transparent;
  font-size: 14px;
outline: none;
color: gray;
}
#coll4{
  width: 15%;
  height: 15px;
}
#coll5{
  background-color: red;
  border: none;
  height: 40px;
  width: 10%;
  color: rgb(228, 20, 20);
  border-radius: 7px;
}
#coll6{
   width: 12.5%;
   font-size: 10PX;
   text-align: center;
   font-family: arial;
   line-height: 1.8;
}
#t3{
  border: 0cap;
  width: 100%;
  height: 30px;
  background-color: red;
  font-family: arial;
  font-size: 9px;
  color: white;
  text-align-last: center;


}
#a12{
  width: 12%;

}
#a13{
  width: 9%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  width: 100%;
}
#t4{
  border: 0cap;
  width: 100%;
  height: 400%;
  
}
#coll7{
  width: 20%;
  background-color: lightgrey;
  font-family: arial;
  padding: 2%;
  color: black;
  font-size: 5;
}
#b1{
  border: none;
  background-color: white;
  height: 35px;
  width:120px;
  border-radius: 20px;
  text-align: center;
  font-size: 2;
}
#coll8{
  width: 50%;
}
#coll8 img{
   width: 100%;
   height: 300px;
}
#t5{
border: 0cap;
width: 100%;
height: 150px;
}
#t51{
   width: 40%;
}
#t51 img{
   height: 100px;
   width: 50%;
   border-radius: 8px;
   box-shadow: 5px lightgrey;
}
#t52{
width: 40%;
padding: 13px;
font-size: 3;
text-align:justify;
}
#t53{
  width: 20%;
  padding-left: 13px;
  font-size: 2;
  text-align: justify;
  color:black;
}

#t6{
  border: 0cap;
  height: 50%px;
  width: 100%;
  border-color: black;
  background-color: black;

}
#coll9{
  text-align: left;
  font-size: 5;
  font-family: Arial;
  width: 20%;
  color: white;
}
#coll10{
  text-align: right;
  color: white;
  font-size: 5;
  font-family: Arial;
  width: 20%;
}



